// 색상
$main-color: #4fc577;
$main-light: #87d0a0;
$second-color: #6ad150;
$second-light: #8ed67d;
$light: #d9d9d9;
$thin: #f0f0f0;
$title: #121b15;
$title-light: #68716b;
$login-color: #f4e7e3;
$dashboard-color: #fffcfb;
$dashboard-icon-color: #d6a291;
$step-color: #ebcfc6;
$dark-step-color: #cea193;
$gray-color: #c4c4c4;
$dark-gray-color: #686868;
