@import url('./font/pretendard.css');
@import './variables.scss';
@import './transition.scss';
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  // font-family: 'Pretendard', 'Noto Sans KR', Inter, -apple-system, '맑은고딕', Helvetica Neue, sans-serif, serif;
  font-family: Pretendard, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  // background-image: linear-gradient(92.7deg, rgba(245, 212, 212, 1) 8.5%, rgba(252, 251, 224, 1) 90.2%);
  // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  // background-image: linear-gradient(135deg, #f5faf8 0%, #dbf1e9 100%);
  // background-repeat: no-repeat;
  // background-size: cover;
  // height: 100vh;
  color: var(--title-color);
  // color: #111;
  overflow: hidden;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-light-color);
  border-radius: var(--border-radius);
}

::selection {
  color: #fff;
  background-color: var(--main-light-color);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

input {
  outline: none;
  border: 1px solid var(--light-color);
  border-radius: var(--border-radius-input);
  height: var(--min-height-input);
  padding: var(--padding-input);
  transition: all 0.3s ease;

  &:focus {
    border: 1px solid var(--main-color);

    &::placeholder {
      color: var(--main-light-color);
    }
  }
}

.inputError {
  &:focus {
    border: 1px solid var(--like-color);

    &::placeholder {
      color: var(--light-color);
    }
  }
}

button {
  padding: 0.3rem 2rem;
  font-weight: bold;
}

button[aria-current='page'] {
  background-color: red;
}

h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: bold;
}

.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalWrap {
  max-width: 35%;
  min-width: 350px;
  min-height: 200px;
  background-color: white;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  border-radius: 0.375rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  z-index: 100;
  // padding: 0 0.5rem;
}

.modalTitle {
  color: var(--main-color);
  font-size: 1.3rem;
  font-weight: var(--text-bold);
  // margin-bottom: 1rem;
}

.modalClose {
  color: var(--light-color);
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;

  &:hover {
    color: var(--danger-color);
  }
}

.modalContent {
  padding: 2.5rem var(--padding-card);
  min-width: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--danger-color);
  font-size: 0.85rem;
}

.main {
  color: var(--main-color);
}

.titleLight {
  color: var(--title-light-color);
}

.light {
  color: var(--light-color);
}
