@import url('./font/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './variables.scss';
@import './transition.scss';
@import './layout.scss';
@import './modal.scss';

@font-face {
  font-family: 'neodgm';
  src: url('font/woff/neodgm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', 'Pretendard', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--title-color);
  overflow: hidden;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--like-color);
  border-radius: var(--border-radius);
}

::selection {
  color: #000;
  background-color: #9bf7f2;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

input {
  outline: none;
  border: 2px solid black;
  border-radius: var(--border-radius-input);
  height: var(--min-height-input);
  padding: var(--padding-input);
  transition: all 0.3s ease;

  &:focus {
    border: 2px solid black;

    &::placeholder {
      color: var(--like-color);
    }
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;
  position: relative;
  padding: 6px;
  cursor: pointer;
  outline: none !important;
  border: 2px solid #000;
  border-radius: 2px;
  background-color: #fff;
}

input[type='checkbox']::before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[type='checkbox']:hover {
  // border-color: rgba(170, 170, 170, 0.5);
  // border-color: #000;
  background-color: var(--like-color);
}

input[type='checkbox']:checked {
  background-color: var(--main-color);
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}

input[type='checkbox']:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}

.inputError {
  &:focus {
    border: 2px solid var(--like-color);

    &::placeholder {
      color: var(--light-color);
    }
  }
}

button {
  padding: 0.3rem 2rem;
  font-weight: bold;
}

button[aria-current='page'] {
  background-color: red;
}

h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: bold;
}

.title {
  color: var(--main-color);
  font-size: 1.5rem;
}

.error {
  color: var(--like-color);
  font-size: 0.85rem;
}

.main {
  color: var(--main-color);
}

.titleLight {
  color: var(--title-light-color);
}

.light {
  color: var(--light-color);
}

.label {
  // color: var(--main-dark-color);
  color: var(--title-light-color);
  font-size: 0.9rem;
  font-weight: var(--text-bold);
}

.md {
  font-variation-settings: 'wght' 400;
  font-size: 1.4rem;
  color: var(--title-light-color);
}
.fill {
  font-variation-settings: 'FILL' 1;
}

.md-main {
  font-variation-settings: 'wght' 400;
  font-size: 1.4rem;
  color: var(--main-color);
}
.fill-main {
  color: var(--main-color);
  font-variation-settings: 'FILL' 1;
}

.md-small {
  font-variation-settings: 'wght' 400;
  font-size: 1rem;
  color: var(--title-light-color);
}
.fill-small {
  font-size: 1rem;
  font-variation-settings: 'FILL' 1;
}

.like {
  color: var(--like-color);
  font-size: 0.3rem;
}
.alertLight {
  color: var(--light-color);
  font-size: 0.3rem;
}

.popUp {
  position: absolute;
  width: 100px;
  top: -110px;
  right: -5px;
  background-color: #fff;
  border: 1px solid var(--thin-color);
  padding: 0.5rem;
  border-radius: var(--border-radius-input);
  box-shadow: var(--box-shadow-card);

  div:nth-child(1) {
    border-bottom: 1px solid var(--thin-color);
  }

  div {
    padding-left: 5px;
    color: var(--title-light-color);

    &:hover {
      background-color: var(--thin-color);
      cursor: pointer;
    }
  }
}

.introduction {
  color: var(--title-light-color);
  font-size: 0.9rem;
}

select {
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 6px;
  font-size: 14px;
  height: var(--min-height-input);
}

select:focus {
  border-color: var(--main-color);
}

select:hover {
  border-color: var(--main-color);
}

select:disabled {
  opacity: 0.5;
}

textarea {
  outline: none;
  border-radius: var(--border-radius-input);
  border: 2px solid black;
  padding: 0.4rem;
}
