.container {
  max-width: 600px;
}

.wrap {
  // min-width: 100px;
  // margin-top: 10%;
}

.main {
  color: var(--main-color);
  font-weight: var(--text-bold);
}

.help {
  color: var(--title-light-color);
  font-size: 0.85rem;
}

.find {
  color: var(--main-color);
  font-size: 0.85rem;
}

.error {
  color: var(--danger-color);
  font-size: 0.85rem;
}

.line {
  font-size: 0.7rem;
  color: var(--title-light-color);
}
