.wrap {
  margin-top: 10%;
}

.help {
  color: var(--title-light-color);
  font-size: 0.85rem;
}

.find {
  color: var(--main-color);
  font-size: 0.85rem;
}

.error {
  color: var(--danger-color);
  font-size: 0.85rem;
}

.line {
  font-size: 0.7rem;
  color: var(--title-light-color);
}
