.infoItem {
  margin-top: 1rem;
  width: 80%;
  // border-bottom: 1px solid #f0f0f0;
  margin-inline: 0.5rem;
  display: flex;
  justify-content: center;
}

.profileImg {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-inline: 1rem;
  cursor: pointer;
}

.heart {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  color: var(--like-color);
}

// .title {
//   font-size: 2rem;
//   font-weight: 900;
//   // color: var(--main-color);
//   margin-bottom: 1.5rem;
//   display: flex;
//   align-items: center;
// }
.title {
  font-size: 1.5rem;
  font-weight: var(--text-extra-bold);
}

.nickname {
  font-weight: 800;
  font-size: 1rem;
}

.image {
  width: 100%;
  height: 55vh;
  object-fit: fill;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.dropdown {
  position: relative;
}

.editPopUp {
  width: 100px;
  position: absolute;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 1;
}

.tags {
  color: var(--main-light-color);
}

.helpTip {
  position: relative;
}

.helpTip:hover .userInfo {
  display: block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.userInfo {
  z-index: 99;
  display: none;
  text-align: left;
  background-color: white;
  padding: 20px;
  width: 300px;
  position: absolute;
  top: 50px;
  left: 70px;
  border-radius: 10px;
  color: black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.profileImg2 {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.inputImage {
  cursor: pointer;
  width: 300px;
  // height: 350px;
  object-fit: fill;
  border-radius: 12px;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  // color: var(--main-light-color);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.inputBox {
  box-shadow: var(--box-shadow);
  border: none;
  // height: 3.3rem;
  padding: 0;
  padding-left: 1rem;
}

.textareaBox {
  outline: none;
  border: 1px solid var(--light-color);
  border-radius: 12px;
  min-height: 8rem;
  padding: var(--padding-input);
  transition: all 0.3s ease;
  width: 100%;

  &:focus {
    border: 1px solid var(--main-color);

    &::placeholder {
      color: var(--main-light-color);
    }
  }
}

.tagBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  // border-radius: 8px;
}

.tagInput {
  // background-color: var(--thin-color);
  border: 2px solid black;
}

.tagComponent {
  // position: absolute;
  // right: 1;
  // top: 0;
  // padding-inline: 16px;
  // padding-block: 2px;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  // min-height: 1.5rem;
  // background-color: var(--main-color);
  border-radius: var(--border-radius-card);
  border: 2px solid black;
  // background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(228, 255, 194) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(194, 239, 255) 100%);

  // color: black;
  // width: fit-content;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 4px;
}

.tagName {
  // color: white;
}

.tagDelete {
  // width: fit-content;
  // padding-left: 4px;
  // padding-right: 0;
  // cursor: pointer;
  color: var(--like-color);
  // display: flex;
  // align-items: center;
}

.btn {
  height: 50px;
  font-size: 1rem;
}

.imageWarrper {
  overflow: hidden;
  border-radius: var(--border-radius);
  // box-shadow: var(--box-shadow-card);
  box-shadow: var(--box-shadow);
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;

  box-shadow: 7px 9px 0px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 7px 9px 0px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 7px 9px 0px -3px rgba(0, 0, 0, 1);
  border: 2px solid black;
}

.tagBtn {
  font-family: 'neodgm';
  font-size: 0.8rem;
  // color: blue;
  transition: all 0.1s var(--timing-func);

  &:hover {
    cursor: pointer;
    color: var(--like-color);
    opacity: 0.8;
  }
}

.popUp {
  position: absolute;
  width: 80px;
  // top: -75px;
  // left: 5px;
  top: 0;
  right: 1.5rem;
  padding: 0.2rem 0;

  border-radius: var(--border-radius-input);
  box-shadow: var(--box-shadow-card);
  font-size: 0.9rem;
  border: 2px solid black;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(228, 255, 194) 100%);

  div:nth-child(1) {
    border-bottom: 2px solid black;
  }

  div {
    color: #000;
    padding-left: 5px;
    padding: 0 0.5rem;
    // color: var(--title-light-color);
    transition: all 0.15s var(--timing-func);

    &:hover {
      // background-color: var(--thin-color);
      background-color: var(--like-color);
      color: #fff;
      cursor: pointer;
    }
  }
}
