.main {
	box-shadow: var(--box-shadow);
	// box-shadow: var(--box-shadow-light);
	// box-shadow: var(--box-shadow-card);
	height: 100px;
	border-radius: var(--border-radius-input);
	padding: var(--padding-card);
}

.title {
	font-size: 1.5rem;
	font-weight: var(--text-extra-bold);
	color: var(--main-color);
}

.select {
	background-color: var(--thin-color);
}

.addBtn {
	position: fixed;
	// width: 100px;
	bottom: 35px;
	margin-right: 35px;
	z-index: 999;
	padding: 0.9rem;
	font-size: 1rem;
	font-weight: bold;
	background: var(--main-color);
	color: white;
	// border: 2px solid black;
	border-radius: var(--border-radius-card);
	border: 1px solid var(--light-color);
	cursor: pointer;
	// color: black;
	// height: 3rem;
	// width: 3rem;

	box-shadow: var(--box-shadow-card);
	transition: all 0.2s var(--timing-func);

	&:hover {
		// opacity: 0.8;
		// background: linear-gradient(180deg, var(--like-color) 0%, var(--like-color) 100%);
		// background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, var(--like-color) 100%);
		// background-color: var(--like-color);
		// color: #000;
	}
}
