# Email
auth.smtp.username=
auth.smtp.password=

# JPA
jpa.show.sql=false
jpa.ddl.option=create
jpa.ddl.defer-datasource-initialization=true

# SQL
sql.init.mode=never

# JWT
jwt.accesskey=
jwt.refreshkey=
jwt.datakey=
jwt.expire.access=
jwt.expire.refresh=
jwt.secret=

# MySQL
db.mysql.driver=com.mysql.cj.jdbc.Driver
db.mysql.url=jdbc:mysql://localhost:3306/chicochico?autoReconnect=true&useUnicode=true&characterEncoding=utf-8
db.mysql.username=
db.mysql.password=

# Log
log.hibernate.level=info

# file upload path
# Example : C:\\Users\\SSAFY\\Documents\\Workspace\\Greencore\\BE\\chicochico\\static
# Example : {Project Workspace Path}\\BE\\chicochico\\static
file.dir=

# Redis
# password is not necessary when working in your local workspace
spring.redis.host=localhost
spring.redis.port=6379
spring.redis.password=

# Recommender System
# api_key is not necessary when working in your local workspace
gorse.api_key=
gorse.endpoint=127.0.0.1

# Firebase
# Example : C:\\Users\\SSAFY\\Documents\\Workspace\\Greencore\\BE\\chicochico\\src\\main\\resources\\properties\\firebaseAccountKey.json
firebase.config.path=
firebase.config.rest-api-key=

# Kakao
kakao.config.rest-api-key=
kakao.config.client-secret=