# Email
auth.smtp.username=
auth.smtp.password=

# JPA
jpa.show.sql=false
jpa.ddl.option=create
sql.init.mode=never

# JWT
jwt.accesskey=
jwt.refreshkey=
jwt.datakey=
jwt.expire.access=
jwt.expire.refresh=
jwt.secret=

# MySQL
db.mysql.driver=com.mysql.cj.jdbc.Driver
db.mysql.url=jdbc:mysql://localhost:3306/{scheme}?autoReconnect=true&useUnicode=true&characterEncoding=utf-8
db.mysql.username=
db.mysql.password=

# Log
log.hibernate.level=info

# Redis
spring.redis.host=localhost
spring.redis.port=6379