.container {
	background-color: #fff;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(192, 255, 111, 1) 100%);
}

.title {
	font-size: 1.6rem;
	font-weight: 900;
	color: #000;
}

.navContainer {
	font-size: 1rem;
	font-weight: 700;

	// transition: all 0.3s var(--timing-func);

	div {
		line-height: 1.1rem;
		// &:hover {
		// font-family: 'neodgm';
		// border-radius: var(--border-radius-card);
		// padding: 0.5rem;
		// background: #c9ff84;
		// box-shadow: inset 5px 5px 7px #9dc767, inset -5px -5px 7px #f5ffa1;
		// }
	}
}

.image {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 2px solid black;
}

.profile {
	transition: all 0.1s var(--timing-func);
	border-radius: var(--border-radius-card);
	// border: 2px solid transparent;

	&:hover {
		// border: 2px solid #000;
		background: #c9ff84;
		box-shadow: inset 5px 5px 7px #9dc767, inset -5px -5px 7px #f5ffa1;
	}
}

.logoutBtn {
	transition: all 0.1s var(--timing-func);
	border: 2px solid black;
	// color: black;

	&:hover {
		background-color: var(--like-color);
		color: white;
	}
	// border-radius: var(--border-radius-input);
	// background: #c9ff84;
	// box-shadow: inset 5px 5px 7px #9dc767, inset -5px -5px 7px #f5ffa1;
}

.navItem {
	font-family: 'neodgm';
	font-size: 1rem;
	line-height: 1rem;
}

.navItemHome {
	font-size: 1.2rem;
	padding-top: 0.3rem;
	line-height: 1.2rem;
}
