.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
  font-weight: 600;
  // background-color: rgb(247, 246, 246);
  // background-color: var(--main-color);
  color: var(--title-color);
}

.func {
  transition: all 0.15s var(--timing-func);
}
