@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

//
/* 라이트 모드 */
:root,
:root.light {
  // --carrot-color: linear-gradient(126.73deg, #ff8a65 15.12%, #ff7765 86.23%);
  // --banner-color: linear-gradient(
  //   90deg,
  //   rgba(255, 138, 101, 1) 0%,
  //   rgba(255, 119, 101, 1) 35%,
  //   rgba(245, 136, 101, 1) 73%,
  //   rgba(255, 161, 101, 1) 98%
  // );

  // --active-color: #424b5a;
  // --main-color: #505d68;
  // --sub-color: #a1aeb7;
  // --disable-color: #c2d1d9;
  // --light-color: #e8edef;
  // --light-color2: #f7f7f7;
  // --thin-color: #f2f5f7;
  // --thin-thin-color: #fafafa;
  // --white-color: #ffffff;
  // --background-color: #ffffff;

  // --primary-color: #ff7765;
  // --primary-color-50: #ff77657a;
  // --primary-color-20: #ff776534;
  // --info-color: #58c2ed;
  // --success-color: #87d146;
  // --warning-color: #ffd600;
  // --danger-color: #f96a63;
  // --d-modal-back-color: #d9d9d980;
  // --d-modal-color: #ffffff80;
}

//
/* 다크모드 */
:root.dark {
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard", Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  // padding: 0.5rem 1rem !important;
  font-weight: 600 !important;
}
